$brk-small: 600px;


$PTSans: 'PT Sans', sans-serif;
$poppins: 'Poppins', sans-serif;
$monserrat: 'Montserrat', sans-serif;

@mixin fuentes($fontSize, $lineHeight, $fontWeight, $fontFamily) {
    font-size: $fontSize;
    line-height: $lineHeight;
    font-weight: $fontWeight;
    font-family: $fontFamily;
}

* {
    margin: 0;
    padding: 0;
}

.content{
    padding: 0px 12px;

    @media (min-width: $brk-small) {
        max-width: 932px;
        margin-left: auto;
        margin-right: auto;
    }
}