$brk-small: 576px;

* {
    margin: 0;
    padding: 0;
}

.content{
    padding: 0px 12px;
    max-width: 586px;

    @media screen and (min-width: $brk-small) {
        padding: 0;
        max-width: 786px;
    }
}