.the-team {
    display: grid;
    grid-template-columns: repeat(2,50%);

    @media (min-width: $brk-small) {
        grid-template-columns: repeat(3,calc(100%/3));
    }
    
    .a-member {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 48px 189px 48px;
        margin-left: auto;
        margin-right: auto;

        @media (min-width: $brk-small) {
            grid-template-rows: 48px 341px 48px;
        }
    }

    
    @media (max-width: $brk-small) {
        $iterador: 1, 3, 5;
    }
    @media (min-width: calc($brk-small+1)) {
        $iterador: 1, 3, 4, 6;
    }

    @each $iter in $iterador {
        .a-member:nth-of-type(#{$iter}){
            .a-member-card {
                grid-row: 1 / 2;
            }
        }
    }


    @media (max-width: $brk-small) {
        $iterador: 2, 4, 6;
    }
    @media (min-width: calc($brk-small+1)) {
        $iterador: 2, 5;
    }

    @each $iter in $iterador {
        .a-member:nth-of-type(#{$iter}){
            .a-member-card {
                grid-row: 2 / 3;
            }
        }
    }

    .a-member-card {
        display: grid;
        grid-template-columns: 138.72px 17.28px;
        grid-template-rows: 209px 28px;
        width: 156px;
        height: 237px;

        @media (min-width: $brk-small) {
            grid-template-columns: 238px 26px;
            grid-template-rows: 347px 42px;
            width: 264px;
            height: 389px;
        }

        &-img {
            width: 138.72px;
            height: 209px;

            @media (min-width: $brk-small) {
                width: 238px;
                height: 347px;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }

        &-prof {

            p{
                writing-mode: vertical-lr;
                margin-left: 6.28px;
                @include fuentes(10px, 13.25px, 400, $PTSans);
            }
        }

        &-name {

            grid-column: 1 / -1;

            p {
                margin-top: 10px;
                @include fuentes(14px, 21px, 600, $poppins);
            }
        }
    }
}